    
.w3-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(#005470, #00283C);
    background-image: -moz-linear-gradient(#005470, #00283C);
    background-image: -o-linear-gradient(#005470, #00283C);
    background-image: linear-gradient(#005470, #00283C);
}

.w3-sidebar svg {
    margin: 35px 0;
    cursor: pointer;
}

.playlist-details {
    margin: 0 0 0 35px;
}

li.playlist-item {
    display: flex!important;
    justify-content: space-between;
    background-color: #3C4345!important;
}

.playlist-item-content {
    display: flex!important;
}

span.playlist-track-details {
    align-self: end;
}
  
.w3-button{
            color: #8C001A;
        }
    
.w3-bar-item{
            transition: 100ms;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 30px;
            height: 85px;
            background-color: #202020;
            transition: 200ms;
        }

.w3-bar-item:hover{
            box-shadow: 2px 2px 2px 2px #00283C;
            transition:200ms;
        }
        
.sidebar{
    width: 100%;
    height: 100%;
}

.checkbox{
    display: none !important;
}

.settings-button {
    bottom: 0;
    z-index: 100;
    position: fixed;
    margin-left: 14px;
    margin-bottom: 20px;
}
.img-settings{
    z-index: 100;
    height: 100px;
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}
.img1{
    width: 75px;
}
.img2{
    width: 80px;
}
.img3{
    width: 85px;
    height: 80px;
    padding-top: 5px;
}
    