.song-card-container .static-buttons {
    position: absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.song-card-container .static-buttons img {
    display: inline;

}



.song-card-container img { 
    height: 300px !important; 
    width: 300px !important;
}

.song-card-container {
    margin: 15px;
}

.song-card-container .song-action-buttons button {
    padding: 0;
    font-size: 11px;
}

.song-card-container .song-action-buttons {
    width: 100%;
    justify-content: space-around;
    display: none;
}

.song-card-container:hover .song-action-buttons {
    display: flex;
}

.song-card-container svg {
    border: 1px solid white;
    border-radius: 100px;
    padding: 13px;
    box-sizing: content-box;
    cursor: pointer;
}

.song-card-container .card-img-overlay {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

.song-card-container .song-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #0063AF!important;
    font-family: Quicksand!important;
    font-weight: bold;
}

.song-card-container {
    margin-left: 130px !important;
    border: none !important;
    align-items: center;
    background-color: none;
    width: 250px;
    height: 400px;
    background: none!important;
}

iframe {
    margin-top: -50px;
    margin-left: 105px;
}

.card-img-overlay {
    background-color:none !important;
}
