.static-buttons {
    position: absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.static-buttons img {
    display: inline;

}

.card img {height: 150px; max-width: 300px;}

.card {
    margin: 15px;
}